<div class="navbar-container">
    <div class="logo">
        <img src="/redSocial.png" alt="logo Red Social">
        <span>RSocial</span>
    
    </div>
    <div class="nav-buttons">
        <!--If usuarioRegistrado-->
        <button>Home</button>
        <button>Publicaciones</button>
        <button>Mi Perfil</button>
        <button class="logout">Cerrar Sesion</button>
    </div>

    <!--@Else-->
    <!--
        <button>Registro</button>
        <button>Login</button>
    -->

</div>

